
body {
  background-color:#512DA8;
  text-align: justify;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0;
  display: inline-flex;
}

footer {
  font-size: smaller;
}

section {
  padding: 10px;
  margin: 0%;
  font-weight: bolder;
}

h2 {
  text-align: center;
  border: 1px solid lightblue;
  border-top: 0;
  margin: 0%;
}

h3 {
  text-align: left;
  background-color: #673AB7;
  color: #8BC34A;
  margin: 0;
}

h4 {
  margin: 0%;
}

p {
  margin: 0%;
}

img {
  display: block;
  margin: 0 auto;
  height: 150px;
  padding-bottom: 5%;
}

.card-container {
  background-color:#512DA8;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0px;
}

.card {
  background-color: #D1C4E9;
  flex: 1 0 calc(25%);
  max-width: calc(50%);
  margin: 10px;
  border: 5px solid #212121;;
  box-shadow: 10px 10px rgb(16, 10, 112);
}

.description{
  font-weight:normal;
}

/* .dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; } */
